.addcon {
    background: url('../../../www/img/logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 254px;
    margin: auto;
    z-index: 2;
    position: relative;
}